h1 {
  color: rgb(60, 137, 238);
}

.icon-accessibility {
  height: 97px;
  width: 97px;
  display: block;
  margin-left: 0px;
  margin-right: auto;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #1fc396;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #d9ebf7;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px, 10px 0, 0 10px;
}

main {
  margin: 0 auto;
  padding: 5rem;
  background-color: #2b50ec;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  padding: 1rem;
  text-align: left;
  background-color: #ec7777;
}

@media screen and (max-width: 768px) {  /* voor kleinere schermen */
  .icon-accessibility {
    height: 50px;
    width: 50px;
  }

  main, footer {
    padding: 5rem;
  }

  body {
    background-size: 10px 10px;
  }
}

@media screen and (max-width: 480px) { /* voor nog kleinere schermen */
  main, footer {
    padding: 2rem;
  }

  ul li {
    margin: 5px 0;
    padding: 5px;
  }
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f3f3f3; /* Lichtgrijze achtergrond voor de header */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Een subtiele schaduw voor de header */
}

.profile-link-container {
}

.profile-link {
    display: inline-block;
    padding: 3px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.profile-link:hover {
    background-color: #0056b3;
}

.logout-button {
        display: inline-block;
        padding: 8px 15px;
        background-color: #d9534f;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 10px;
    }

    .logout-button:hover {
        background-color: #c9302c;
    }