h1 {
  color: rgb(0, 0, 0);
}

.icon-accessibility {
  height: 97px;
  width: 97px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #1fc396;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #d9ebf7;
}

main {
  margin: 0 auto;
  padding: 1rem;
  background-color: #2b50ec;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #000000;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #d9ebf7;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profile-link, .logout-button {
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.profile-link {
    background-color: #007bff;
}

.profile-link:hover {
    background-color: #0056b3;
}

.logout-button {
    background-color: #d9534f;
}

.logout-button:hover {
    background-color: #c9302c;
}

@media screen and (max-width: 768px) {
  .icon-accessibility {
    height: 50px;
    width: 50px;
  }

  main, header {
    padding: 2rem;
  }

  body {
    background-size: 10px 10px;
  }
}

@media screen and (max-width: 480px) {
  main, header {
    padding: 1rem;
  }

  ul li {
    margin: 5px 0;
    padding: 5px;
  }
}

.onderzoeken-buttons button {
    margin: 0 10px;
    padding: 6px 5px;
    background-color: #4CAF50;
    color: #000000; /
}

.onderzoeken-buttons button:hover {
    background-color: #45a049;
}
