<!DOCTYPE html>
<html lang="nl">
<head>
    <link rel="stylesheet" href="/static/css/maak_organisatie_aan_stylesheet.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Organisatie</title>
    <link rel="icon" type="image/x-icon" href="/static/images/icon_accessibility_green_black.jpg">
    {% load static %}
    <script src="{% static 'js/organisatie_aanmaken.js' %}" defer></script>
</head>
<body>
<button onclick="location.href='{% url 'dashboard_beheer' %}';" class="terug-knop">Terug naar Dashboard</button>
<h1>Maak organisatie aan</h1>
<form method="POST" action="{% url 'maak_organisatie_aan' %}">
    {% csrf_token %}
    <label for="naam">Naam:</label>
    <input type="text" id="naam" name="naam" required><br><br>

    <label for="type">Type:</label>
    <input type="text" id="type" name="type"><br><br>

    <label for="website">Website:</label>
    <input type="url" id="website" name="website"><br><br>

    <label for="beschrijving">Beschrijving:</label>
    <textarea id="beschrijving" name="beschrijving"></textarea><br><br>

    <label for="contactpersoon">Contactpersoon:</label>
    <input type="text" id="contactpersoon" name="contactpersoon"><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br><br>

    <label for="telefoonnummer">Telefoonnummer:</label>
    <input type="text" id="telefoonnummer" name="telefoonnummer"><br><br>

    <label for="overige_details">Overige details:</label>
    <textarea id="overige_details" name="overige_details"></textarea><br><br>

    <label for="api_key">API-sleutel:</label>
    <input type="text" id="api_key" name="api_key" required>
    <button class="button-api-key" onclick="genereerApiKey()">Genereer sleutel en maak organisatie aan</button>

    <br><br>
    <button type="submit">Maak organisatie aan</button>
</form>
</body>
</html>