<!DOCTYPE html>
<html lang="nl">
<head>
    <link rel="stylesheet" href="/static/css/onderzoek_wijzigen_stylesheet.css" type="text/css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="location.href='{% url 'dashboard_organisatie' %}';" class="terug-knop">Terug naar Dashboard</button>
<main>
    <h1>Onderzoek wijzigen</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Opslaan</button>
    </form>
</main>

</body>
</html>