{% for onderzoek in onderzoeken %}
    <ul>
        <li>
            <strong class="onderzoek_titel">{{ onderzoek.titel }}</strong><br>
            <strong>Omschrijving:</strong> {{ onderzoek.omschrijving }}<br>
            <strong>Status:</strong> {{ onderzoek.status }}<br>
            <strong>Van:</strong> {{ onderzoek.datum_vanaf }} <strong>Tot:</strong> {{ onderzoek.datum_tot }}<br>
            <strong>Type:</strong> {{ onderzoek.type_onderzoek }}<br>
            <strong>wel/geen beloning:</strong> {{ onderzoek.met_beloning }}
            <strong>beloning:</strong> {{ onderzoek.beloning }} <br>
            <strong>leeftijd van:</strong> {{ onderzoek.doelgroep_leeftijd_van }} <strong>leeftijd
            tot:</strong> {{ onderzoek.doelgroep_leeftijd_tot }} <br>
            <div class="knoppen-sluiten-wijzigen">
                <form action="{% url 'onderzoek_sluiten' onderzoek.onderzoek_id %}" method="post">
                    {% csrf_token %}
                    <button class="onderzoek-sluit-knop" type="submit">Onderzoek sluiten</button>
                </form>
                <form action="{% url 'onderzoek_wijzigen' onderzoek_id=onderzoek.onderzoek_id %}" method="get">
                    <button class="onderzoek-wijzig-knop" type="submit">Onderzoek wijzigen</button>
                </form>
            </div
        </li>
    </ul>
    <br>
{% endfor %}