<!DOCTYPE html>
<html lang="nl">
<head>
    <link rel="stylesheet" href="/static/css/onderzoekformstylesheet.css" type="text/css">
    {% load static %}
    <script src="{% static 'js/onderzoek_aanmaken.js' %}" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onderzoeksvraag aanmaken</title>
    <link rel="icon" type="image/x-icon" href="/static/images/icon_accessibility_green_black.jpg">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        {% if success_message %}
            window.onload = function () {
                var popup = document.getElementById("success-popup");
                popup.style.display = "block";
                setTimeout(function () {
                    popup.style.display = "none";
                }, 4000);
            }
        {% endif %}

    </script>
</head>
<body>
<button onclick="location.href='{% url 'dashboard_organisatie' %}';" class="terug-knop">Terug naar Dashboard</button>
<h1>Onderzoeksvraag invullen</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Opslaan</button>
</form>

<div id="success-popup" class="popup">Onderzoeksvraag succesvol opgeslagen!</div>
</body>
</html>