<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%  static 'CSS/deskundige.css' %}" type="text/css">
</head>
    <body>
    <main>
    <div
    <span aria-hidden="true" class="shape-bottom-left"></span>
    <span aria-hidden="true" class="shape-round"></span>
    <span aria-hidden="true" class="shape-bottom-right-first"></span>
    <span aria-hidden="true" class="shape-bottom-right-second"></span>
  </div>
    </main>

 <h1> Dit is de dashboard voor ervaringsdeskundige</h1>
 {% load static %}
 <img src="{%  static 'images/icon_accessibility.jpg' %}" alt="Icon Accessibility" class="icon-accessibility">
 <ul>
     <li>Onderzoeksvraag 1: Hoe kunnen we onze site nog beter maken volgens jouw?</li>
     <li>Onderzoeksvraag 2: Wat zijn de voordelen die we hebben?</li>
     <li>Onderzoeksvraag 3: Wat wil je zien?</li>
 </ul>
    <footer>
    </footer
 </body>
</html>