<!DOCTYPE html>
<html lang="nl">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/deskundige.css' %}" type="text/css">
    <script src="{% static 'js/deskundige.js' %}" defer></script>
    <title>Dashboard Ervaringsdeskundige</title>
</head>
<body data-login-url="{% url 'login' %}">
<header>
    <div class="profile-link-container">
        <a href="{% url 'profiel' %}" class="profile-link">Mijn Profiel</a>
        <button onclick="logoutUser()" data-logout-url="{% url 'logout' %}" class="logout-button">Uitloggen</button>
    </div>
</header>

<main>
    <h1>Dashboard Ervaringsdeskundige</h1>
    <img src="{% static 'images/icon_accessibility.jpg' %}" alt="Toegankelijkheidsicoon" class="icon-accessibility">
    <section id="onderzoeken-section">
        <div class="onderzoeken-buttons">
            <button id="show-beschikbare-onderzoeken" aria-label="Toon beschikbare onderzoeken">Beschikbare Onderzoeken</button>
            <button id="show-afwachting-onderzoeken" aria-label="Toon onderzoeken in afwachting">In Afwachting</button>
            <button id="show-deelgenomen-onderzoeken" aria-label="Toon deelgenomen onderzoeken">Deelgenomen Onderzoeken</button>
        </div>
        <h2 id="onderzoeken-titel">Beschikbare Onderzoeken</h2>
        <div id="onderzoeken-container" data-laad-onderzoeken-url="{% url 'laad_onderzoeken' %}">
        </div>
    </section>
</main>
</body>
</html>
