<ul>
    {% for onderzoek in onderzoeken %}
        <li>
            <strong>{{ onderzoek.titel }}</strong><br>
            Omschrijving: {{ onderzoek.omschrijving }}<br>
            Status: {{ onderzoek.status }}<br>
            Van: {{ onderzoek.datum_vanaf }} Tot: {{ onderzoek.datum_tot }}<br>
            Type: {{ onderzoek.type_onderzoek }}<br>
            <a href="{% url 'onderzoek_details' onderzoek.onderzoek_id %}" aria-label="Meer gegevens over {{ onderzoek.titel }}">Meer gegevens</a>
        </li>
    {% endfor %}
</ul>
