<!DOCTYPE html>
<html lang="nl">
<head>
    {% load static %}
    <title>{{ onderzoek.titel }} Details</title>
    <link rel="stylesheet" href="{% static 'CSS/onderzoek_details.css' %}" type="text/css">
    <script src="{% static 'js/onderzoek_aanmelden.js' %}" defer></script>
</head>
<body>
<button onclick="window.history.back();" class="terug-knop">Terug</button>
<h1>{{ onderzoek.titel }}</h1>
<p>Omschrijving: {{ onderzoek.omschrijving }}</p>
<p>Status: {{ onderzoek.status }}</p>
<p>Datum vanaf: {{ onderzoek.datum_vanaf }} tot {{ onderzoek.datum_tot }}</p>
<p>Type: {{ onderzoek.type_onderzoek }} Locatie: {{ onderzoek.locatie }}</p>
<p>Met Beloning: {{ onderzoek.met_beloning }} Beloning: {{ onderzoek.beloning }}</p>
<p>Groep leeftijd: {{ onderzoek.doelgroep_leeftijd_van }} tot {{ onderzoek.doelgroep_leeftijd_tot }}</p>
<p>Doelgroep beperking: {{ onderzoek.doelgroep_beperking }}</p>
<p>Organisatie: {{ onderzoek.organisatie.naam }}</p>

<h2>Organisatie</h2>
<p>Naam: {{ organisatie.naam }}</p>
<p>Type: {{ organisatie.type }}</p>
<p>Website: <a href="{{ organisatie.website }}">{{ organisatie.website }}</a></p>
<p>Beschrijving: {{ organisatie.beschrijving }}</p>
<p>Contactpersoon: {{ organisatie.contactpersoon }}</p>
<p>E-mail: {{ organisatie.email }}</p>
<p>Telefoonnummer: {{ organisatie.telefoonnummer }}</p>
<p>Overige details: {{ organisatie.overige_details }}</p>

{% if not is_aangemeld %}
    <form id="aanmeldForm" action="{% url 'aanmelden_voor_onderzoek' onderzoek_id=onderzoek.onderzoek_id %}" method="post">
        {% csrf_token %}
        <button type="button" id="aanmeldButton" data-onderzoek-id="{{ onderzoek.onderzoek_id }}">Aanmelden voor dit onderzoek</button>
    </form>
{% else %}
    <div id="deelnameBericht">
        Je neemt deel aan dit onderzoek.
        <button type="button" id="annuleerButton" data-onderzoek-id="{{ onderzoek.onderzoek_id }}">Annuleer deelname</button>
    </div>
{% endif %}
</body>
</html>
