<!DOCTYPE html>
<html lang="nl">
<head>
    <link rel="stylesheet" href="/static/CSS/log_in.css" type="text/css">
    {% load static %}
    <script src="{% static 'JS/log_in.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stichting Accesibility</title>
    <link rel="icon" type="image/x-icon" href="/static/images/icon_accessibility_green_black.jpg">

</head>
<body>
<h1 aria-label="inlogpagina stichting accesibility">Inloggen</h1>

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="img_container">
    </div>
    <br><br><br>
    <img src="/static/images/logo-Accessibility.png" alt="logo van Accesibility" class="logo-Accesibility">
    <br><br><br>
    <div class="container">
        <label for="e-mail" class="e-mailadres"><b>e-mailadres</b></label>
        <input type="text" placeholder="voor e-mailadres in" name="email" id="mailadres" required>

        <label for="psw"><b>wachtwoord</b></label>
        <input type="password" placeholder="voor wachtwoord in" name="password" id="wachtwoord" required>

        <button type="submit" class="login_button">Login</button>
        <label for="onthoud_mij" class="onthoud_mij_lettertype">
            <input type="checkbox" checked="checked" name="onthoud_mij"> Onthoud mij
        </label>
    </div>

    <div class="container">
        <button aria-label="Annuleer knop = invoervelden legen"
                type="button" class="annuleerbutton" onclick="wisInloggegevens()">annuleer
        </button>
        <a href="{% url 'registratie' %}" class="registratie_button">Registreer hier</a>
    </div>


</form>
</body>
</html>