<!DOCTYPE html>
<html lang="nl">
<head>
    <link rel="stylesheet" href="/static/CSS/log_in.css" type="text/css">
    <meta charset="UTF-8">
    <title>Welkom op de inlogpagina van stichting accessibility.</title>
</head>
<body>
<h1>Inloggen</h1>

<form action="#" method="post">
  <div class="img_container">

  </div>
<img src="/static/images/logo-Accessibility.png" alt="logo van Accesibility" class="logo-Accesibility">
  <div class="aanmeldgegevens_container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="voor gebruikernaam in" name="gebruikersnaam" required>

    <label for="psw" class="wachtwoord"> <b>wachtwoord</b></label>
    <input type="password" placeholder="voor wachtwoord in" name="wachtwoord" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="onthoud_mij"> Onthoud mij
    </label>
  </div>

  <div class="annuleer_en_wachtwoord_vergeten_container">
    <button type="button" class="annuleerbutton">annuleer</button>
    <span class="psw">Forgot <a href="#">wachtwoord vergeten?</a></span>
  </div>

  <button type="button" class="account_aanmaken_button">account aanmaken</button>

</form>

</html>