.logout-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #d9534f;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    float: right;
}

.logout-button:hover {
    background-color: #c9302c;
}

.maak-organisatie-aan-knop {
    background-color: #04AA6D;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
}

.maak-organisatie-aan-knop:hover {
    background-color: #04AA6D;
}

.maak-onderzoek-aan-knop {
    background-color: #04AA6D;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
}

.maak-onderzoek-aan-knop:hover {
    background-color: #e7e7e7;
}

body {
    margin-left: 90px;
    font-family: Arial, sans-serif;
    background-color: #d9ebf7;
}

.onderzoek_titel {
    font-size: 20px;
}

main {
    margin: 0 auto;
    padding: 5rem;
    background-color: #2b50ec;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li {
    background-color: #1fc396;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    color: white;
}

.onderzoek-sluit-knop {
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #0d2677;
}


